version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      dev-dependencies:
        dependency-type: development
      web3:
        patterns:
          - "viem"
          - "wagmi"
          - "@web3modal/*"
