aws_region            = "us-east-1"
environment           = "sepolia"
rpc_url               = "https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY"
perps_rpc_url         = "https://arb-sepolia.g.alchemy.com/v2/YOUR_KEY"
keeper_private_key    = "0xYOUR_KEEPER_PRIVATE_KEY"
provision_aa_proxy     = false
enable_aa_sponsorship = false
pimlico_api_key       = ""
pimlico_sponsorship_policy_id = ""
aa_proxy_origin_token          = ""
pyth_api_key                   = ""
enable_pyth_api_key            = false
db_password                    = "CHANGE_ME_STRONG_PASSWORD"
db_username                    = "plether"
chain_id                       = "11155111"
cors_origins                   = "https://testnet.plether.fi"
indexer_start_block            = "10188700"
perps_chain_id                 = "421614"
perps_indexer_start_block = "273137426"
container_cpu                  = 256
container_memory               = 512
db_instance_class              = "db.t4g.micro"
