aws_region          = "us-east-1"
environment         = "sepolia"
posthog_project_token = "phc_YOUR_POSTHOG_PROJECT_TOKEN"
posthog_otlp_host     = "eu.i.posthog.com"
rpc_url             = "https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY"
perps_rpc_url       = "https://arb-sepolia.g.alchemy.com/v2/YOUR_KEY"
keeper_private_key  = "0xYOUR_KEEPER_PRIVATE_KEY"
liquidation_keeper_private_key = "0xYOUR_LIQUIDATION_KEEPER_PRIVATE_KEY"
pyth_api_key        = ""
enable_pyth_api_key = false
db_password         = "CHANGE_ME_STRONG_PASSWORD"
db_username         = "plether"
chain_id            = "11155111"
cors_origins        = "https://testnet.plether.fi"
indexer_start_block = "10188700"
perps_chain_id      = "421614"
perps_indexer_start_block = "273137426"
liquidation_worker_poll_seconds     = "1"
liquidation_worker_scan_batch_size  = "100"
liquidation_worker_confirmations    = "1"
liquidation_worker_index_batch_size = "5000"
liquidation_worker_reorg_overlap_blocks = "12"
liquidation_worker_pending_replacement_seconds = "120"
liquidation_worker_desired_count     = 1
container_cpu       = 256
container_memory    = 1024
db_instance_class   = "db.t4g.micro"
